<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
</head>
<body>
    <h2>Product Detail</h2>
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Qty: {{ product.quantity }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.category.name }}</p>
    <a href="{% url 'store:products' %}">Back to Products</a>
</body>
</html>