<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Page</title>
</head>
<body>
    <h1>Here are all products({{ total }}):</h1>
    <ul>
        {% for product in products %}
            <a href="{% url 'store:product_detail' product_pk=product.pk %}">
                <li>Name: {{ product.name }} - Price: {{ product.price }}({{ product.category.name }})</li>
            </a>
        {% endfor %}
    </ul>
<a href="{% url 'store:add_product' %}">Add New Product</a>
    <hr>
<a href="{% url 'store:index' %}">Home</a>
</body>
</html>